{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bicol Speedtech Motor Corp.</title>
    <link rel="stylesheet" href="{% static 'landingpage_theme/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="{% static 'landingpage_theme/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'landingpage_theme/assets/css/Modal-Login-form.css' %}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
  <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
      <div class="container"><a class="navbar-brand" href="#page-top" style="color: rgb(253,0,2);"><img src="{% static 'landingpage_theme/assets/img/dsBuffer.jpg' %}" style="width: 47px;">Bicol Speedtech Motor Corp.</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto text-uppercase">
                  <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                  <li class="nav-item"></li>
                  <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#team">Store</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>
    {% block content %}
    {% endblock %}
    <script src="{% static 'landingpage_theme/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'landingpage_theme/assets/js/agency.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.js.map" type="text/javascript"></script>
    {% block custom_js %}
    
    {% endblock custom_js %}
</body>

</html>
