{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% include 'topbar.html' %}
  <!-- Navbar Start -->
  {% include 'navbar.html' %}
  <!-- Navbar End -->
  <div class="container-fluid pt-5">
      {% for order in order_obj %}
      <div class="row px-xl-5 pb-3">
          <div class="col-lg-4 col-md-6 pb-1">
              <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                  <h2 class="font-weight-semi-bold m-0">{{ order.ref_code }}</h2>
                  <br />
                  <table class="table table-bordered mb-0">
                    <tbody>
                      <tr><td><p>{{ order.items }}</p></td></tr>
                      <tr><td><p class="text-primary">Total:</p>₱{{ order.total }}</td></tr>
                    </tbody>
                  </table>
                  <h5 class="font-weight-semi-bold m-0">Status: {{ order.status }}</h5>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  <!-- Categories End -->
{% endblock %}
